body {
    font-family: Arial, sans-serif;
}
.form-container {
    width: 300px;
    margin: auto;
    padding-top: 50px;
    border: 2px;;
}
.form-container h2 {
    text-align: center;
}
.form-container input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px #ccc;
    box-sizing: border-box;
}
.form-container button {
    background-color:navy;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 5px;
    cursor: pointer;
    width: 100%;
}
.label{
    border: 3px;
}